.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.env
.env.*

output_cam*/
fine_tune_yolo/runs_cam*/
weights/
yolov*.pt
results/
temp_eval_data/

osnet/log*/
osnet/reid*/

/data/
airflow/projects/vehicle-reid-multicam/data/

airflow/logs/
airflow/models/
airflow/static/

*.log
*.csv
*.sqlite3
*.db

*.egg-info/
build/
dist/

.DS_Store
.idea/