**/.git
**/.gitignore

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

**/.vscode/
**/.idea/

**/.ipynb_checkpoints/
**/*.ipynb

airflow/logs/

osnet/build/
osnet/dist/
osnet/*.egg-info/
osnet/log*
osnet/reid*
osnet/deep-person-reid/docs
osnet/*.py